[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "python main.py"

[packages]
requests = "2.26.0"

[dev-packages]

[requires]
python_version = "3.9"
